body {
  color: blue;
  font-family: 'Cabin', sans-serif;
}

.navbar-logo {
  width: 90px;
  font-family: Lobster, cursive;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
}

p {
  max-width: 100%
}

.testclass {
  border: 1px solid #000;
}
.negative-comments {
  background-color: pink;
}

.positive-comments {
  background-color: lightblue;
}

.comment-content {
  word-wrap: break-word;
}

.article-container {
  background-color: lightgrey;
}
.article-content {
  word-wrap: break-word;;
}
