<div class="card card-image" style="background-image: url(<%= article.hero_img_url %>);">
  <div class="text-white text-center py-5 px-4 my-5">
      <div>
          <h1 class="card-title pt-3 mb-5 font-bold"><strong></strong></h1>
          <h2 class="mx-5 mb-5"><strong>" <%= article.tagline %> "</strong></h2>
          <a class="btn btn-outline-white btn-rounded"><i class="fa fa-clone left"></i> View project</a>
      </div>
  </div>
</div>
