<!--Card-->

<div id="card-<%= article.id %>" class="card col-lg-3 mx-auto card-img">

  <!--Card image-->
  <div class="view overlay">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid card-img" alt="">
      <a href="article/<%=article.id%>">
          <div class="mask rgba-white-slight"></div>
      </a>
  </div>

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title"><%= article.title %></h4>
      <!--Text-->
      <p class="card-text"><%= article.content %></p>
      <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<!--/.Card-->
