<!--Card-->

<div id="card-<%= article.id %>" class="card col-lg-3">

  <!--Card image-->
  <div class="view overlay">
      <img src="<%=article.hero_img_url%>" class="img-fluid" alt="">
      <a href="#">
          <div class="mask rgba-white-slight"></div>
      </a>
  </div>

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title"><%= article.title %></h4>
      <!--Text-->
      <p class="card-text"><%= article.content %></p>
      <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<!--/.Card-->
