<h1 class="article-title"><%= article.title %></h1>
<div class="sections-container">
  <% for (let i in article.sections) { %>
    <p class="section-content">
      <%= article.sections[i].content %>
    </p>
  <% } %>
</div>
