<div class="comment-container">
  <img src="<%= comment.profile.picture %>" class="circle-avatar comment-avatar" />
  <h3 class="comment-username"><%= comment.profile.nickname %></h3><br/>
  <p class="comment-content"><%= comment.content %></p>
  <div class="comment-footer">
    <p class="comment-created-date"><%= comment.created_at %></p>
  </div>
</div>
