.main-container {
  padding-top: 4em; }

.img-mask {
  width: 100%;
  height: 100px; }

.view-card {
  height: 200px;
  width: 100%; }

.card-body {
  height: 214px; }

.card-footer {
  background-color: #fff;
  height: 50px;
  border-top: 1px light-gray; }

.card {
  margin-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px; }

.padding-fix {
  margin-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px; }

.card-title {
  font-size: 1.2em; }

.card-img {
  width: 100%;
  height: 100%;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.navbar-logo {
  width: 90px;
  font-family: Lobster, cursive;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0; }

p {
  max-width: 100%; }

.article {
  border: 1px solid #000; }

.negative-comment {
  border-right: 1px solid tomato; }

.positive-comment {
  border-left: 1px solid #00AAFF; }

.comment-container {
  border-bottom: 1px solid #000; }

.comment-content {
  word-wrap: break-word;
  padding: 15px; }

.card-title h1 {
  font-family: Cabin;
  font-size: 1px; }

.article-container h1 {
  font-family: Cabin, san-sarif; }

.article-container p {
  font-family: Lola, sarif; }

.article-content {
  word-wrap: break-word; }

.section-content {
  word-wrap: break-word; }

.fa-comment {
  color: lightgrey; }
