<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
      <% articles.forEach( article => {%>
        <div class="card" id="card-<%= article.id %>">
          <%=article.id%>
        </div>
      <% }) %>
</body>

</html>
