<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <img src="<%= user.picture%>" alt="">
  <h2>Welcome <%= user.nickname %></h2>
  <br>
  <h2>User Profile</h2>
  <pre><%= userProfile %></pre>
  <br>
  <a href="/logout">Logout</a>
</body>

</html>
