<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4 my-5">
        <div>
            <h1 class="card-title pt-3 mb-5 font-bold"><strong>Create your beautiful website with MDBootstrap</strong></h1>
            <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                laboriosam, voluptatem, optio vero odio nam sit officia accusamus
                minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
                dolorum!.</p>
            <a class="btn btn-outline-white btn-rounded"><i class="fa fa-clone left"></i> View project</a>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col testclass">
        <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (!comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div class="col-6 testclass">
        <article class="article-container">
          <%- include('./partials/_article'); %>
        </article>
      </div>

      <div class="col testclass">
        <div class="positive-comments">
          <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col testclass">
        1 of 3
      </div>
      <div class="col-5 testclass">
        2 of 3 (wider)
      </div>
      <div class="col testclass">
        3 of 3
      </div>
    </div>
  </div>
</body>

</html>

