<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <%- include('./partials/_navbar'); %>
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4 my-5">
        <div>
            <h1 class="card-title pt-3 mb-5 font-bold text-left"><strong>Hello Darkness My Old Friend</strong></h1>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3 negative-comment">
        <h3>responses</h3>
          <% for (var i = 0; i < 10; i++) { %>
            <img src="#" class="circle-round comment-avatar" />
            <h3 class="comment-username">{Username}</h3><br/>
            <p class="comment-content">blblb lblblb llbdfnnd nfbjdnfb kdkmv mfvf ljkas hedfk naks ndnas,dn</p>
          <% } %>
      </div>
      <div class="col">
        <article class="article-container">
          <h1 class="article-title">How to make better decisions by improving your intuition</h1>
          <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et netus. Ultricies mi quis hendrerit dolor. Dignissim suspendisse in est ante in nibh mauris. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Morbi tristique senectus et netus et malesuada fames. Sed vulputate mi sit amet mauris commodo quis imperdiet. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Sociis natoque penatibus et magnis. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Duis convallis convallis tellus id. Viverra vitae congue eu consequat. Adipiscing enim eu turpis egestas. Tristique risus nec feugiat in fermentum.
          </p>
        </article>
      </div>
      <div class="col-3 positive-comment">
        <h3>responses</h3>
          <% for (var i = 0; i < 10; i++) { %>
            <img src="#" class="circle-round comment-avatar" />
            <h3 class="comment-username">{Username}</h3><br/>
            <p class="comment-content">blblbl blblb llbdfn ndnfbj dnfbkd kmvmf vfljk ashedfknaksndnas,dn</p>
          <% } %>
      </div>
    </div>
    <div class="row">
      <div class="col testclass">
        1 of 3
      </div>
      <div class="col-5 testclass">
        2 of 3 (wider)
      </div>
      <div class="col testclass">
        3 of 3
      </div>
    </div>
  </div>
</body>

</html>

