<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <%- include('./partials/_navbar'); %>
  <div class="container">
    <div class="row">
      <aside class="negative-comment col-lg-3"></aside>
      <article class="article-content col-lg-6"></article>
      <aside class="positive-comment col-lg-3"></aside>
    </div>
  </div>
</body>

</html>