@import url("https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed|Lobster|Lora");
.main-container {
  padding-top: 4em;
}

.card-img {
  padding: 0;
}

body {
  color: blue;
  font-family: 'Cabin', sans-serif;
}

.navbar-logo {
  width: 90px;
  font-family: Lobster, cursive;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
}

p {
  max-width: 100%;
}

.testclass {
  border: 1px solid #000;
}

.negative-comment {
  border-right: 1px solid tomato;
}

.positive-comment {
  border-left: 1px solid #00AAFF;
}

.comment-content {
  word-wrap: break-word;
  padding: 15px;
}

.card-title h1 {
  font-family: Cabin;
  font-size: 1px;
}

.article-container {
  margin: 3em 1em;
}

.article-container h1 {
  font-family: Cabin, san-sarif;
}

.article-container p {
  font-family: Lola, sarif;
}

.article-content {
  word-wrap: break-word;
}
