.article-title {
  width: 90%;
  margin-right: inherit;
  margin-bottom: -8px;
  margin-left: 20px;
  text-align: center;
}

.toggle-comments-button {
  background-color: $cool-blue;
  opacity: 0.8;
  height: 28px;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.toggle-comments-button:hover {
  opacity: 1;
}

.toggle-comments-text {
  font-size: 15px;
  position: relative;
  top: 2px;
  right: 8px;
}

.toggle-comments-icon {
  font-size: 14px;
  position: relative;
  left: 62px;
  bottom: 23px;
}
