.article-container {
  h1, h2, h3 {
    font-family: Cabin, san-sarif;
  }
  p {
    font-family: Lola, sarif;
  }
  h2 {
    font-size: 40px;
    margin-top: 40px;
  }

  height: 100%;
}


.toggle-comments {
  float: right;
  padding-top: 10px;
}

.article-section {
  margin-top: 24px;
  height: 98%;
}

