.article {
  border: 1px solid #000;
}

.article-container {
  h1, h2, h3 {
    font-family: Cabin, san-sarif;
  }
  p {
    font-family: Lola, sarif;
  }
}


.toggle-comments {
  float: right;
  padding-top: 10px;
}

.comments-container {
  overflow: scroll;
}

.article-section {
  height: 98%;
}

