.article {
  border: 1px solid #000;
}

.article-container {
  h1, h2, h3 {
    font-family: Cabin, san-sarif;
  }
  p {
    font-family: Lola, sarif;
  }
}

.jumbo-fix {
  top: 40px;
}

.toggle-comments {
  float: right;
  padding-top: 10px;
}

.article-title {
  width: 90%;
}

.comments-container {
  overflow: scroll;
}

.article-section {
  height: 98%;
}

.article-hero-tagline {
  font-family: raleway;
  font-weight: 200;
  font-size: 1.2em;
  width: 60%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

