.card {
  margin-bottom: 40px;
  padding: 0;
}

.card-body {
  height: 214px;
}

.card-footer {
  background-color: #fff;
  height: 50px;
  border-top: 1px light-gray;
}

.card-title {
  font-size: 1.2em;
  h1 {
    font-family: Cabin;
    font-size: 1px;
  }
}

.card-img {
  width: 100%;
  height: 100%;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.view-card {
  height: 200px;
  width: 100%;
}
