.article-container {
  font-family: Cabin, san-sarif;
}

.comments-column {
  border-left: 2px solid #00FFFF;
  border-right: 2px solid #ffa3a3fa;
  padding: 25px;
}

.comments-column-title {
  font-size: 20px;
  color: #d3d3d3;
}

.pos-comment-container {
  border-bottom: 2px solid #00FFFF;
  margin-bottom: 15px;
}

.neg-comment-container {
  border-bottom: 2px solid #ffa3a3fa;
  margin-bottom: 15px;
}

.username {
  display: inline-block;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
  top: 2px;
}

.comment-content {
  word-wrap: break-word;
  padding: 15px;
  padding-bottom: 0px;
}

.rounded-circle {
  border: 1px solid grey;
}

.comment-time {
  position: relative;
  left: 15px;
  color: grey;
  font-size: 15px;
}

.fa-comment {
  color: lightgrey;
}

.fa-comment:hover {
  color: grey;
  font-size: 110%;
}


