.article-container {
  font-family: Cabin, san-sarif;
}

.comments-column {
  border-left: 2px solid #00FFFF;
  border-right: 2px solid #ffa3a3fa;
  padding: 25px;
}

.comments-column-title {
  font-size: 20px;
  color: #d3d3d3;
}

.pos-comment-container {
  border-bottom: 2px solid #00FFFF;
  margin-bottom: 15px;
}

.neg-comment-container {
  border-bottom: 2px solid #ffa3a3fa;
  margin-bottom: 15px;
}

.username {
  display: inline-block;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
  top: 2px;
}

.comment-content {
  word-wrap: break-word;
  padding: 15px;
  padding-bottom: 0px;
}

.rounded-circle {
  border: 1px solid grey;
}

.comment-footer {
  position: relative;
}

.comment-time {
  display: block;
  float: left;
  position: relative;
  left: 0;
  bottom: 0;
  color: grey;
  font-size: 15px;
}

.rating-container {
  display: inline-flex;
  position: relative;
  right: -100px;
  bottom: 3px;
}

.fa-plus-circle {
  color: lightgrey;
  font-size: 30px;
}

.fa-minus-circle {
  color: lightgrey;
  font-size: 30px;
}

.fa-comment {
  height: 100%;
  verticle-align: middle;
}

.fa-comment {
  height: 100%;
  verticle-align: middle;
}

.comment-score {
  position: relative;
  top: 3px;
  padding: 0 10px;
  color: grey;
}

.user-avatar {
  height: 50px;
  width: 50px;
}
