#close-comment {
  float: left;
  margin: 12px;
  padding-bottom: 0;
}

#comment-avatar {
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 40px;
  padding-bottom: 0;
}

.comment-avatar {
  height: 35px;
  width: 35px;
  float: right;

}

.comment-user-name {
  display: inline-block;
  padding-left: 25px;
  width: 80%;
  text-align: center;
}

.points {
  font-size: 35px;
}
