


.pos-comment-container {
  @extend %comments-column;
  border-left: 2px solid $neon-blue;
  .comment-card {
    border-bottom: 1px solid $neon-blue;
    margin-bottom: 15px;
  }
}

.neg-comment-container {
  @extend %comments-column;
  border-right: 2px solid $neon-red;
  .comment-card {
    border-bottom: 1px solid $neon-red;
    margin-bottom: 15px;
  }
}

.user-avatar {
  height: 50px;
  width: 50px;
}

.author-avatar {
  height: 75px;
  width: 75px;
}

.author-card {
  p {
    font-size: 14px;
  }
}
.username {
  display: inline-block;
  color: grey;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
  top: 2px;
}

.author {
  display: inline-block;
  color: grey;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
  top: 2px;
}

.comment-content {
  word-wrap: break-word;
  padding: 15px;
  padding-bottom: 0px;
}

.comment-footer {
  position: relative;
  display: inline-block;
}

.comment-time {
  position: relative;
  top: 6px;
  margin-bottom: 0;
    float: left;
  color: grey;
  font-size: 15px;
}

.rating-containers {
  display: inline-block;
  text-align: right;
  font-size: 20px;
}

.comment-score {
  display: inline-block;
  color: lightgrey;
  padding: 0 10px;
  font-size: 20px;
}

