
.comments-column {
  padding: 25px;
  height: 950px;
  overflow: auto;
}

.comments-column-title {
  font-size: 20px;
  color: #d3d3d3;
}


.pos-comment-container {
  border-bottom: 1px solid #00FFFF;
  margin-bottom: 15px;
}

.neg-comment-container {
  border-bottom: 1px solid #ffa3a3fa;
  margin-bottom: 15px;
}

.username {
  display: inline-block;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
  top: 2px;
}

.comment-content {
  word-wrap: break-word;
  padding: 15px;
  padding-bottom: 0px;
}

.comment-footer {
  position: relative;
}

.comment-time {
  display: block;
  float: left;
  position: relative;
  left: 0;
  bottom: 0;
  color: grey;
  font-size: 15px;
}

.rating-containers {
  display: inline-flex;
  position: relative;
  right: -100px;
  bottom: 3px;
}

.fa-plus-circle {
  color: lightgrey;
  font-size: 30px;
}
.fa-minus-circle {
  color: lightgrey;
  font-size: 30px;
}
.fa-minus-circle:hover, .fa-plus-circle:hover {
  color: #bcbcbc;
}

.fa-comment {
  height: 100%;
  verticle-align: middle;
}

.comment-score {
  position: relative;
  top: 3px;
  padding: 0 10px;
  color: grey;
}

.user-avatar {
  height: 50px;
  width: 50px;
  border: $cool-blue 2px solid;
}
