


.comments-column-title {
  font-size: 20px;
  color: #d3d3d3;
}

.pos-comment-container {
  @extend %comments-column;
  border-left: 2px solid $neon-blue;
  .comment-card {
    border-bottom: 1px solid $neon-blue;
    margin-bottom: 15px;
  }
}

.neg-comment-container {
  @extend %comments-column;
  border-right: 2px solid $neon-red;
  .comment-card {
    border-bottom: 1px solid $neon-red;
    margin-bottom: 15px;
  }
}

.username {
  display: inline-block;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
  top: 2px;
}

.comment-content {
  word-wrap: break-word;
  padding: 15px;
  padding-bottom: 0px;
}

.comment-footer {
  position: relative;
}

.comment-time {
  display: block;
  float: left;
  position: relative;
  left: 0;
  bottom: 0;
  color: grey;
  font-size: 15px;
}

.rating-containers {
  display: inline-flex;
  position: relative;
  right: -100px;
}

.comment-score {
  position: relative;
  top: 3px;
  padding: 0 10px;
  color: grey;
}

.user-avatar {
  height: 50px;
  width: 50px;
  border: $cool-blue 2px solid;
}
