
.jumbo-fix {
  top: 40px;
}


.fa-quote-right {
  padding-top:100px;
  color: red;
}

.article-hero-tagline {
  font-family: raleway;
  font-weight: 200;
  font-size: 1.2em;
  width: 90%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.article-tag-container {
  font-size: 18px;
  padding: 7px;
  margin-left: 355px;
  position: relative;

}

.article-tag {
  padding: 10px;
  margin: 5px;
}

.overall-rating {
  display: inline-block;
  color: white;
  position: relative;
  padding-left: 10px;
  max-width: 100px;
  font-size: 40px;
  bottom: 5px;
  p {
    text-shadow: 7px 7px 8px black;
  }
}

.gaint-thumb {
  display: inline-block;
  font-size: 70px;
  max-width: 100px;
  .thumb-up {
    color: $cool-blue;
  }
  .thumb-down {
    color: red;
  }
}

.rating-box {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 10px;
  display: inline;
}