
.jumbo-fix {
  top: 40px;
}


.fa-quote-right {
  padding-top:100px;
  color: red;
}

.article-hero-tagline {
  font-family: raleway;
  font-weight: 200;
  font-size: 1.2em;
  width: 90%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.article-tag-container {
  font-size: 18px;
  padding: 7px;
  margin-left: 355px;
  position: relative;

}

.article-tag {
  padding: 10px;
  margin: 5px;
}

.overall-rating {
  display: inline-block;
  color: white;
  position: relative;
  padding-left: 10px;
  max-width: 100px;
  font-size: 40px;
  top: 30px;
  h2 {
    text-shadow: 7px 7px 8px black;
  }
  p {
    font-size: 10px;
  }
}

.thumb-up {
  background-color: $neon-green;
  width: 90px;
  height: 90px;
}
 .thumb-down {
  background-color: red;
  width: 90px;
  height: 90px;
  padding-top: 7px;
}

.gaint-thumb {
  display: inline-block;
  position: relative;
  top: 10px;
  font-size: 55px;
  max-width: 100px;
  color: white;

}

.rating-box {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline;
}