.article-tag-container {
  font-size: 18px;
  padding: 7px;
  margin-left: 355px;
  position: relative;

}

.article-tag {
  padding: 10px;
  margin: 5px;
}

.overall-rating {
  font-size: 20px;
  background-color: red;
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 40px;
  right: 60px;
  line-height: 3.3;
  border: solid 1px solid;
}
