
.jumbo-fix {
  top: 40px;
}


.fa-quote-right {
  padding-top:100px;
  color: red;
}

.article-hero-tagline {
  font-family: raleway;
  font-weight: 200;
  font-size: 1.2em;
  width: 90%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.article-tag-container {
  font-size: 18px;
  padding: 7px;
  margin-left: 355px;
  position: relative;

}

.article-tag {
  padding: 10px;
  margin: 5px;
}

.overall-rating-container {
  display: inline-flex;
  position: relative;
  top: 10px;
  margin-right: 50px;
}

.thumb-badge {
  background-color: red;
  height: 60px;
  width: 60px;
  position: relative;
  margin-right: 10px;

}

.fa-heart {
  font-size: 30px;
  line-height: 1.8;
}

.overall-rating {
  font-size: 45px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  position: relative;
}

.positive-label {
  position: relative;
  top: 32px;
  margin-left: 10px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
