.navbar-logo {
  width: 300px;
  font-family: Lobster, cursive;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
}

.to-top {
  z-index: 1000;
  background-color: white;
}

.nav-hover-blue {
  background-color: black;
  color: white !important;
  padding: 8px 20px !important;
  transition: 1s;
}

.nav-hover-blue:hover {
  background-color: $cool-blue;
  color: white !important;
  padding: 8px 20px !important;
}

.nav-hover-red {
  background-color: white;
  color: black !important;
  padding: 8px 20px !important;
  transition: 1s;
}

.nav-hover-red:hover {
  background-color: red !important;
  color: white !important;
  padding: 8px 20px !important;
}
