
.test {
  background-color: grey;
}

.sections-container {
  padding-right: 25px;
}

.section-container {
  position: relative;
  right: 25px;
}

.fa-comment {
  color: lightgrey;
}

.fa-comment:hover {
  color: grey;
  font-size: 110%;
}

.comment-icon:hover + .section-container {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}


