.sections-container {
  padding-right: 25px;
}

.section-container {
  position: relative;
  right: 0px;
}

.section-content {
  height: 32px;
}


.fa-comment {
  color: lightgrey;
  margin-top: 0;
}

.fa-comment:hover {
  color: grey;
  font-size: 110%;
}

.comment-icon {
  position: relative;
  left: 300px;
  visibility: hidden;
  text-align: center;
}

.comment-icon:hover + .section-container {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.section-container:hover > .comment-icon {
  visibility: visible;
}


