.fa-comments-o:hover {
  font-size: 130%;
}

.sections-container {
  padding-right: 25px;
}

.section-container {
  position: relative;
  margin-bottom: 5px;
}

.section-content {
}

.fa-commenting, .fa-comments {
  color: lightgrey;
  font-size: 120%;
  margin-top: 0;
  padding: 0 10px 8px 0;
}


.fa-commenting:hover, .fa-comments:hover {
  color: grey;
  font-size: 130%;
}

.comment-icon {
  position: relative;
  visibility: hidden;
  text-align: center;
  border-bottom: lightgrey 0.05em solid;
}

.section-container:hover > .comment-icon {
  visibility: visible;
  border-bottom: lightgrey 0.05em solid;

}


